.Container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.Container.light {
    background: #fff;
}


.Container.dark {
    background-color: #1e1e1e;
}
