.status {
    padding: 8px;
    border-radius: 8px;
    background-color: gray;
}
.status.red {
    background-color: red;
}
.status.yellow {
    background-color: yellow;
}
.status.green {
    background-color: green;
}
