.ToggleButton {
    position: fixed;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 999;
    color: #000;
}

.ToggleButton.dark {
    color: #fff;
}

