.table {
    border-collapse: collapse;
    padding: 20px;
    /*padding-left: 100px;*/
    /*width: 200%;*/
}

.th {
    background-color: #d5e1f4;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.th.dark {
    color: #c9cfe2;
    background-color: #292929;
}

.tr {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.td {
    padding: 8px;
    text-align: left;

}

.td.dark {
    color: #c3cfe2;
    background-color: #1f1f1f;
}

.tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tr:nth-child(even) .dark {
    background-color: #151515;
}

.pageNum {
    padding: 12px;
    color: #1a1a1a;
    background-color: #c3cfe2;
    border-radius: 0.5em;
}

.pageNum.dark {

}

.active {
    /*background-color: #c3cfe2;*/
    background-color: #87a3c2;
}

.passive {
    /*color: blue;*/
}

.pagination {
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding-top: 16px;
}


.animate {
    transform: scale(1.1);
    transition: transform 0.5s;
}
.animate.active {
    transform: scale(1.2);
}
