.table {
    border-collapse: collapse;
    padding: 20px;
    width: 100%;
    /*height: 100vh;*/
    box-sizing: border-box;
}

.th {
    background-color: #d5e1f4;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.th.dark {
    color: #c9cfe2;
    background-color: #292929;
}

.tr {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.td {
    padding: 8px;
    text-align: left;

}

.td.dark {
    color: #c3cfe2;
    background-color: #1f1f1f;
}

.tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tr:nth-child(even) .dark {
    background-color: #151515;
}

.pageNum {
    padding: 12px;
    color: #1a1a1a;
    background-color: #c3cfe2;
    border-radius: 0.5em;
}

.pageNum.dark {

}

.active {
    /*background-color: #c3cfe2;*/
    background-color: #87a3c2;
}

.passive {
    /*color: blue;*/
}

.pagination {
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding-top: 16px;
}




.dropdownContainer {
    position: relative;
}

.dropdown {
    position: absolute;
    /*display: inline-block;*/
    padding: 10px 10px;
    /*color: #1a1a1a;*/

    border-radius: 0.5em;
    /*color: #87a3c2;*/
    display: flex;
    background-color: #c3cfe2;
}

.num {
    position: absolute;
    list-style: none;
    /*background-color: inherit;*/
    /*padding: 10px 12px;*/
    /*font-size: 16px;*/
    /*background-color: #c9c9c9;*/
    border-radius: 0.5em;
}

.num.open {
    /*display: block;*/
    position: absolute;
    list-style: none;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #c9c9c9;
    border-radius: 0.5em;
    /*background-color: #c3cfe2;*/
}

.num.close {
    /*background-color: unset;*/
}

/*.dropdown */

.dropdown li {
    /*position: absolute;*/
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
}

.dropdown li:hover {
    background-color: #f0f0f0;
    border-radius: 0.5em;
}
/*.animate {*/
    /*transform: scale(1.1);*/
    /*transition: transform 0.5s;*/
/*}*/
/*.animate.active {*/
/*    transform: scale(1.2);*/
/*}*/
